.about
  p
    line-height: 1.6
  .container
    position: relative
    padding-bottom: 10px
  .image-wrapper
    position: relative
    margin-top: -3%
    width: 60%
    float: right

@media only screen and (max-width: 600px)
  body .site
    .about
      .image-wrapper
        margin-top: -4%
        width: 100%
