.navbar
  width: 0
  position: fixed
  height: 100%
  right: 0px
  padding-top: 26px // align list with the header text
  margin: 0px
  background: $red
  z-index: 2
  transition: 0.5s /* 0.5 second transition effect to slide in the navbar */
  &.is-active
    width: 100%
  ul
    margin: 0px // css reset
    width: $container-width
    margin: auto
    padding: 0px 25px
  li
    list-style: none
    padding-bottom: 10px
  a
    text-decoration: none
    color: white
    font-size: 1.4em
  p
    font-size: 0.8em
    color: white
    margin-top: 0px
  .list-header
    width: 75%
  .list-header a
    font-size: 1.6em
    font-family: $header-font
  .donate-button
    border: 3px solid white
    padding: 8px
    text-align: center
    width: 150px
    display: block
    margin-top: 50px

@media only screen and (max-width: 600px)
  body .site .navbar.is-active
    ul
      width: $container-width-mobile
