.post
  .container
    position: relative
    padding-bottom: 10px
  .page-title
    width: 40%
  .preview-padding
    height: 40px
  .accompanying-img
    position: absolute
    width: 16.75%

@media only screen and (max-width: 1092px)
  body .site .post
    .container
      padding-top: 100px
    .accompanying-img
      position: absolute
      bottom: 20px
      width: 33%
      margin: auto
@media only screen and (max-width: 600px)
  body .site .post
    .page-title
      width: 60%
