.post
  .container
    position: relative
    padding: 70px 50px 10px 50px
  p
    line-height: 1.6
  .page-title
    width: 40%
  .preview-padding
    height: 40px
  .accompanying-img
    position: relative
    display: inline-block
    width: 100%
    margin-top: 20px

@media only screen and (max-width: 1092px)
  body .site .post
    .container
      padding-top: 100px
@media only screen and (max-width: 600px)
  body .site .post
    .page-title
      width: 60%
