.post
  .container
    position: relative
    padding-bottom: 10px
  .page-title
    width: 40%
  .preview-padding
    height: 40px

@media only screen and (max-width: 1092px)
  body .site .post
    .container
      padding-top: 100px
@media only screen and (max-width: 600px)
  body .site .post
    .page-title
      width: 60%
