.resources
  .page-title
    z-index: 1
  .container
    position: relative
    height: auto
    padding: 80px 40px 10px 40px
  .resource-container
    a
      font-size: 1.2em
      font-family: $body-font
    p
      margin-top: 2px
  .bubble
    position: relative
    width: 60%
    padding: 50px 15px
    margin: 5em 0 3em
    border: 5px solid black
    text-align: center
    color: black
    background: #fff
    -webkit-border-radius: 20px
    -moz-border-radius: 20px
    border-radius: 20px
    &.left
      align-self: flex-start
      margin-right: auto
    &.right
      align-self: flex-end
      margin-left: auto
footer
  z-index: 2

@media only screen and (max-width: 650px)
  body .site .news
    .container
      height: 400px
    .bubble
      width: 70%


