// Config vars
$page-margin: 20px
$header-font: "arvo"
$body-font: "open-sans"

.header
  padding: $page-margin
  display: flex
  align-items: center
  justify-content: space-between
  & a
    text-decoration: none
  & p
    font-family: $header-font
    color: black
    display: inline-block

.hamburger-menu
  display: inline-block
  cursor: pointer

.bar1, .bar2, .bar3
  width: 40px
  height: 4px
  background-color: #333
  margin: 6px 0
  transition: 0.4s

/* Rotate first bar */
.is-active .bar1
  -webkit-transform: rotate(-45deg) translate(-9px, 6px)
  transform: rotate(-45deg) translate(-9px, 6px)

/* Fade out the second bar */
.is-active .bar2
  opacity: 0

/* Rotate last bar */
.is-active .bar3
  -webkit-transform: rotate(45deg) translate(-8px, -8px)
  transform: rotate(45deg) translate(-8px, -8px)

footer
  width: 100%
  background: black
  display: flex
  align-items: center
  justify-content: space-between
  padding: $page-margin
  & .logo
    height: 100%

.social
  height: 20px
  & a
    padding: .2em .2em .2em .2em
    border-radius: 1em
    margin: .5em
    vertical-align: middle
    display: inline
  & img
    height: 100%

.container
  background: #EDE7BF
  width: 80%
  height: 400px
  margin: auto

.homepage
  .container
    margin-top: -60px