// Config vars
$page-margin: 75px
$container-width: 75%
$header-font: "arvo"
$body-font: 'Open Sans'
$yellow: #EDE7BF
$red: #AD1500

html, body
  margin: 0px
  padding: 0px
  height: 100%
  font-family: $body-font

/* Fieldset reset */
fieldset
  border: 0
  padding: 0.01em 0 0 0
  margin: 0
  min-width: 0

legend
  padding: 0
  display: table

body:not(:-moz-handler-blocked) fieldset
  display: table-cell

button
  cursor: pointer
  &:disabled
    opacity: .6
    cursor: not-allowed

// Handle the footer
.site
  display: flex
  min-height: 100vh
  flex-direction: column
  overflow: hidden // make sure there's no side scroll even though the footer is full width

.site-content
  flex-grow: 1

p, a
  font-family: $body-font
p
  font-size: 1em

h1, h2, h3
  font-family: $header-font
  margin-bottom: 0px

h3
  font-size: 1.7em

.flex-container
  display: flex

.header
  width: $container-width
  margin: auto
  padding: 20px 0px
  display: flex
  align-items: center
  justify-content: space-between
  & a
    text-decoration: none
  & p
    font-family: $header-font
    color: black
    display: inline-block

.hamburger-menu
  display: inline-block
  cursor: pointer
  z-index: 1

.bar1, .bar2, .bar3
  width: 40px
  height: 4px
  background-color: #333
  margin: 6px 0
  transition: 0.4s

/* Rotate first bar */
.is-active .bar1
  -webkit-transform: rotate(-45deg) translate(-9px, 6px)
  transform: rotate(-45deg) translate(-9px, 6px)

/* Fade out the second bar */
.is-active .bar2
  opacity: 0

/* Rotate last bar */
.is-active .bar3
  -webkit-transform: rotate(45deg) translate(-8px, -8px)
  transform: rotate(45deg) translate(-8px, -8px)

footer
  width: 100%
  background: black
  display: flex
  align-items: center
  justify-content: space-between
  padding: 20px 10px
  height: 15px

  & .logo
    height: 100%

.social
  height: 20px
  & a
    padding: .2em .2em .2em .2em
    border-radius: 1em
    margin: .5em
    vertical-align: middle
    display: inline
  & img
    height: 100%

.container
  background: $yellow
  width: $container-width
  height: auto
  margin: auto
  padding: 70px 25px
  box-sizing: border-box

.page-title
  background: $red
  color: white
  padding: 10px 35% 10px 15px
  position: absolute
  top: 0px
  left: -15px

.homepage
  .banner-wrapper
    width: 70%
    margin: -110px auto 45px auto
    height: auto
    background: transparent
    display: block
  .container
    margin-top: -200px
    padding: 70px 45px 0px 25px
    margin-bottom: 80px
  .subtitle
    width: 80%
  .read-more
    width: 100px
    height: 40px
    background: black
    padding: 12px
    font-size: .8em
  .btn
    display: block
    text-align: center
    box-sizing: border-box
    color: white
  a
    text-decoration: none
  .flex-container
    align-items: center
    justify-content: space-between
    &.cta-container
      width: 118%
      margin-left: -8%
      padding-top: 25px
  .cta
    background: $red
    width: 32%
    height: 300px
    font-size: 2.3em
    text-align: left
    padding: 20px 35px 20px 25px

.about, .gallery, .write-stories
  .container
    position: relative

.gallery
  .container
    padding: 90px 25px 35px 25px
  .grid
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    width: 112%
    margin-left: -6%
  .gallery-img
    width: 300px
    margin-bottom: 15px

.write-stories
  .container
    padding: 70px 25px 15px 25px
  .subtitle
    font-size: .9em
    margin: 0px
  .required-warning
    font-size: .75em
  .required-asterix
    color: $red
    font-weight: bold
  .required-text
    font-size: .75em
    color: $red
    display: block
    text-align: center
    font-weight: bold
  // The margin and padding are -8 and 8 respectively
  // because the width protrudes an extra 16% from the container and 8 is half of 16 keeping the container centered
  .form-container
    width: 114%
    background: white
    margin-left: -7%
    border: 1px solid black
    padding: 5px 8%
    box-sizing: border-box
    border-radius: 20px
    margin-top: 20px
  .show
    display: block
  .hide
    display: none !important
  .flex-container
    flex-wrap: wrap
    .flex-full
      width: 100%
    .flex-half
      width: 50%
  label
    font-size: .9em
  legend
    font-weight: bold
    font-size: 1em
    margin-bottom: 5px
  button
    width: 140px
    height: 40px
    background: $red
    color: white
    padding: 0
    font-family: $header-font
    font-size: 1.2em
    display: block
    margin: auto
    margin-top: 15px
  .fieldset
    margin: 25px 0px
    line-height: 1.6
    label
      display: block
    // Hide original checkbox
    .checkbox-container
      input
        position: absolute
        height: 1px
        width: 1px
        overflow: hidden
        clip: rect(1px 1px 1px 1px) /* IE6, IE7 */
        clip: rect(1px, 1px, 1px, 1px)
      .other-input
        display: inline-block
        margin: 4px 0px 0px 5px
        width: 150px
        height: 16px
        clip: auto // to override the checkbox input styling
        border: none
        border-bottom: 1px solid black
      label
        position: relative
        display: inline-block
        padding-left: 30px
        cursor: pointer
    .checkbox-container label::before, .checkbox-container label::after
      position: absolute
    .checkbox-container label::before
      content: ""
      height: 16px
      width: 16px
      border: 1px solid
      top: 3px
      left: 0px
    .checkbox-container label::after
      content: ""
      height: 6px
      width: 9px
      border-left: 2px solid
      border-bottom: 2px solid
      transform: rotate(-45deg)
      left: 4px
      top: 7px
    // Hide the checkmark by default
    .checkbox-container input[type="checkbox"] + label::after
      content: none
    // Unhide the checkmark on the checked state
    .checkbox-container input[type="checkbox"]:checked + label::after
      content: ""
    // Adding focus styles on the outer-box of the fake checkbox
    .checkbox-container input[type="checkbox"]:focus + label::before
      outline: rgb(59, 153, 252) auto 5px
  .subtext
    font-size: .9em
    line-height: 1.4
    margin: 0px 0px 10px 0px
  .radio-buttons
    display: flex
    flex-direction: row
    flex-wrap: wrap
    width: 100%
    justify-content: space-between
    .radio-container
      flex: 1 50%
      label
        display: inline
        padding-left: 10px
  .two-column-checkboxes
    display: flex
    flex-direction: row
    flex-wrap: wrap
    width: 100%
    justify-content: space-between
    .checkbox-container
      flex: 1 1 35%
      padding-right: 15px
      margin-bottom: 10px
  textarea
    width: 95%
    height: 200px
    margin-top: 7px
    border: 1px solid black

@media only screen and (max-width: 600px)
  body .site
    .container
      width: 90%
    .write-stories
      .form-container
        width: 120%
        margin-left: -10%
      .two-column-checkboxes, .radio-buttons
        .checkbox-container, .radio-container
          flex: 1 100%
