// config
@import url('https://fonts.googleapis.com/css?family=Arvo|Open+Sans&display=swap')
@import 'sass/variables'

// Header and footer
@import 'sass/navbar'
@import 'sass/header'
@import 'sass/footer'

// page style sheets
@import 'sass/homepage'
@import 'sass/about'
@import 'sass/read-stories'
@import 'sass/write-stories'
@import 'sass/gallery'
@import 'sass/news'
@import 'sass/contact'

html, body
  margin: 0px
  padding: 0px
  height: 100%
  font-family: $body-font

/* Site container to keep the footer at the bottom of the page */
.site
  display: flex
  min-height: 100vh
  flex-direction: column
  position: relative // so that navbar can position to this
  overflow: hidden // make sure there's no side scroll even though the footer is full width

.site-content
  flex-grow: 1
/* End of site container */

/* Fieldset reset */
fieldset
  border: 0
  padding: 0.01em 0 0 0
  margin: 0
  min-width: 0

legend
  padding: 0
  display: table

body:not(:-moz-handler-blocked) fieldset
  display: table-cell
/* End of fieldset reset */

button
  cursor: pointer
  &:disabled
    opacity: .6
    cursor: not-allowed

p, a
  font-family: $body-font
p
  font-size: 1em

h1
  font-size: 1.9em

h1, h2, h3
  font-family: $header-font
  margin-bottom: 0px

h3
  font-size: 1.7em

.disabled
  opacity: .6
  cursor: not-allowed

.flex-container
  display: flex
  flex-wrap: wrap

.container
  background: $yellow
  width: $container-width
  height: auto
  margin: auto
  padding: 70px 25px
  box-sizing: border-box

.page-title
  background: $red
  color: white
  padding: 10px 35% 10px 15px
  position: absolute
  top: 0px
  left: -15px

@media only screen and (max-width: 600px)
  body .site
    .flex-item
      flex: 1 100%
    .container
      width: $container-width-mobile
    .page-title
      padding-right: 25%
